<!-- Lokal -->
<div id="lokal"><br></div>
<div class="container my-5">
    <h1>Lokal</h1>
    <div class="row">
        <% if (!komik.length==0){ %>
            <% komik.forEach((komik, index)=> { %>
                <% if (komik.status === "lokal") {%>
                    <div class="card_book mx-auto my-4">
                        <div class="card_book_main">
                            <div class="card_book_front">
                                <img src="<%- komik.cover %>">
                            </div>
                            <div class="card_book_back">
                                <h2 class="my-auto py-4"><%- komik.Judul %></h2>
                                <p class="my-auto p-2">Author : <%- komik.Author %></p>
                                <p class="my-auto p-2">Tahun : <%- komik.Tahun %></p>
                                <p class="my-auto p-2">ISBN : <%- komik.ISBN %></p>
                                <p class="my-auto p-2">Lokasi : <%- komik.Lokasi %></p>
                                <p class="my-auto p-2">Stock : <%- komik.Stok %></p>
                                <p class="my-auto p-2">Kategori Buku: <%- komik.status %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        <% } %>    
    </div>
    <div class="text-center">
        <a href="#" class="btn mx-auto btn-outline-dark btn-lg">Muat Lebih Banyak</a>
    </div>
</div>

<!-- Impor -->
<div id="impor"><br></div>
<div class="container my-5">
    <h1>Impor</h1>
    <div class="row">
        <% if (!komik.length==0){ %>
            <% komik.forEach((komik, index)=> { %>
                <% if (komik.status === "impor") {%>
                    <div class="card_book mx-auto my-4">
                        <div class="card_book_main">
                            <div class="card_book_front">
                                <img src="<%- komik.cover %>">
                            </div>
                            <div class="card_book_back">
                                <h2 class="my-auto py-4"><%- komik.Judul %></h2>
                                <p class="my-auto p-2">Author : <%- komik.Author %></p>
                                <p class="my-auto p-2">Tahun : <%- komik.Tahun %></p>
                                <p class="my-auto p-2">ISBN : <%- komik.ISBN %></p>
                                <p class="my-auto p-2">Lokasi : <%- komik.Lokasi %></p>
                                <p class="my-auto p-2">Stock : <%- komik.Stok %></p>
                                <p class="my-auto p-2">Kategori Buku: <%- komik.status %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        <% } %>    
    </div>
    <div class="text-center">
        <a href="#" class="btn mx-auto btn-outline-dark btn-lg">Muat Lebih Banyak</a>
    </div>
</div>

<%- contentFor('title') %>
Komik