<!-- Lokal -->
<div id="lokal"><br></div>
<div class="container my-5">
    <h1>Lokal</h1>
    <div class="row">
        <% if (!novel.length==0) { %>
            <% novel.forEach((novel, index) => { %>
                <% if (novel.status === "lokal") {%>
                    <div class="card_book mx-auto my-4">
                        <div class="card_book_main">
                            <div class="card_book_front">
                                <img src="<%- novel.cover %>">
                            </div>
                            <div class="card_book_back">
                                <h2 class="my-auto py-4"><%- novel.Judul %></h2>
                                <p class="my-auto p-2">Author : <%- novel.Author %></p>
                                <p class="my-auto p-2">Tahun : <%- novel.Tahun %></p>
                                <p class="my-auto p-2">ISBN : <%- novel.ISBN %></p>
                                <p class="my-auto p-2">Lokasi : <%- novel.Lokasi %></p>
                                <p class="my-auto p-2">Stock : <%- novel.Stok %></p>
                                <p class="my-auto p-2">Kategori Buku: <%- novel.status %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        <% } %>    
    </div>
    <div class="text-center">
        <a href="#" class="btn mx-auto btn-outline-dark btn-lg">Muat Lebih Banyak</a>
    </div>
</div>

<!-- Impor -->
<div id="impor"><br></div>
<div class="container my-5">
    <h1>Impor</h1>
    <div class="row">
        <% if (!novel.length==0) { %>
            <% novel.forEach((novel, index) => { %>
                <% if (novel.status === "impor") {%>
                    <div class="card_book mx-auto my-4">
                        <div class="card_book_main">
                            <div class="card_book_front">
                                <img src="<%- novel.cover %>">
                            </div>
                            <div class="card_book_back">
                                <h2 class="my-auto py-4"><%- novel.Judul %></h2>
                                <p class="my-auto p-2">Author : <%- novel.Author %></p>
                                <p class="my-auto p-2">Tahun : <%- novel.Tahun %></p>
                                <p class="my-auto p-2">ISBN : <%- novel.ISBN %></p>
                                <p class="my-auto p-2">Lokasi : <%- novel.Lokasi %></p>
                                <p class="my-auto p-2">Stock : <%- novel.Stok %></p>
                                <p class="my-auto p-2">Kategori Buku: <%- novel.status %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        <% } %>    
    </div>
    <div class="text-center">
        <a href="#" class="btn mx-auto btn-outline-dark btn-lg">Muat Lebih Banyak</a>
    </div>
</div>

<%- contentFor('title') %>
Novel