<div id="searcharea">
    <label for="search">Search Books</label>
    <p>Input Judul atau Author atau Tahun Terbit atau ISBN</p>
    
    <form action="/result" method="POST" class="form-inline justify-content-center">
        <input type="text" name="sBox" placeholder="Judul / Author / Tahun / ISBN" required>
        <input type="submit" class="btn btn-primary sd-3" name="submit" value="Search">
    </form>
</div>
<div class="container">
    <br>
    <% if (!sRes.length==0) { %>
        <% sRes.forEach((sRes) => { %>
            <div class="card_book mx-auto my-4">
                <div class="card_book_main">
                    <div class="card_book_front">
                        <img src="public/<%= sRes.cover %>">
                    </div>
                    <div class="card_book_back">
                        <h2 class="my-auto py-4" style="font-size: 27px;"><%- sRes.Judul %></h2>
                        <p class="my-auto p-2">Author : <%- sRes.Author %></p>
                        <p class="my-auto p-2">Tahun : <%- sRes.Tahun %></p>
                        <p class="my-auto p-2">ISBN : <%- sRes.ISBN %></p>
                        <p class="my-auto p-2">Lokasi : <%- sRes.Pos %></p>
                        <p class="my-auto p-2">Stock : <%- sRes.Stok %></p>
                        <!-- ---------- -->
                        <form action="public/<%= sRes.ISBN %>" method="GET">
                            <button type="submit" class="btn btn-outline-secondary">Details</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <span class="mx-auto"><b>Ayo Cari Buku Mu!</b></span>
    <% } %>
</div>




<%- contentFor('title') %>
Search